<div class="d-grid gap-2 d-md-block">
    <button type="submit" class="btn btn-primary" onfocus="false"><i class="bi bi-plus-circle"></i>Crear</button>
    <a asp-action="Index" class="btn btn-success"><i class="bi bi-arrow-return-left">Regresar</i></a>

</div>
